@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
    html, body, #root {
        height: 100svh;
        width: 100svw;
        margin: 0;
        padding: 0;
        font-size: 1.15rem;
        scrollbar-gutter: stable;
    }
}

@layer components {
    .header-fade {
        background: linear-gradient(0deg, white, rgba(0,0,0,0));
    }
}